## Importing Libraries

In [3]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, GridSearchCV
from scipy.spatial import distance_matrix
from sklearn.cluster import KMeans,AgglomerativeClustering 
from sklearn.metrics import classification_report, confusion_matrix, precision_score, recall_score, f1_score, roc_curve, roc_auc_score
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from IPython.display import Image
import pydotplus
import seaborn as sns
import math
import os
import plotly
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

## Loading the data

In [4]:
df = pd.read_csv('data.csv')

In [5]:
data1 = pd.read_csv('preprocessed_data.csv')

In [6]:
data1.head()

,Winner,title_bout,no_of_rounds,B_current_lose_streak,B_current_win_streak,B_draw,B_avg_BODY_att,B_avg_BODY_landed,B_avg_CLINCH_att,B_avg_CLINCH_landed,...,weight_class_Women's Strawweight,B_Stance_Open Stance,B_Stance_Orthodox,B_Stance_Sideways,B_Stance_Southpaw,B_Stance_Switch,R_Stance_Open Stance,R_Stance_Orthodox,R_Stance_Southpaw,R_Stance_Switch
0,Red,True,5,0.0,4.0,0.0,9.200000,6.000000,0.200000,0.000000,...,0,0,1,0,0,0,0,1,0,0
1,Red,True,5,0.0,3.0,0.0,14.600000,9.100000,11.800000,7.300000,...,0,0,1,0,0,0,0,0,1,0
2,Red,False,3,0.0,3.0,0.0,15.354839,11.322581,6.741935,4.387097,...,0,0,1,0,0,0,0,1,0,0
3,Blue,False,3,0.0,4.0,0.0,17.000000,14.000000,13.750000,11.000000,...,0,0,0,0,0,1,0,1,0,0
4,Blue,False,3,0.0,1.0,0.0,17.000000,14.500000,2.500000,2.000000,...,0,0,0,0,1,0,0,0,1,0

In [7]:
df.head()

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Henry Cejudo,Marlon Moraes,Marc Goddard,2019-06-08,"Chicago, Illinois, USA",Red,True,Bantamweight,5,0.0,...,2.0,0.0,0.0,8.0,Orthodox,162.56,162.56,135.0,31.0,32.0
1,Valentina Shevchenko,Jessica Eye,Robert Madrigal,2019-06-08,"Chicago, Illinois, USA",Red,True,Women's Flyweight,5,0.0,...,0.0,2.0,0.0,5.0,Southpaw,165.10,167.64,125.0,32.0,31.0
2,Tony Ferguson,Donald Cerrone,Dan Miragliotta,2019-06-08,"Chicago, Illinois, USA",Red,False,Lightweight,3,0.0,...,3.0,6.0,1.0,14.0,Orthodox,180.34,193.04,155.0,36.0,35.0
3,Jimmie Rivera,Petr Yan,Kevin MacDonald,2019-06-08,"Chicago, Illinois, USA",Blue,False,Bantamweight,3,0.0,...,1.0,0.0,0.0,6.0,Orthodox,162.56,172.72,135.0,26.0,29.0
4,Tai Tuivasa,Blagoy Ivanov,Dan Miragliotta,2019-06-08,"Chicago, Illinois, USA",Blue,False,Heavyweight,3,0.0,...,2.0,0.0,0.0,3.0,Southpaw,187.96,190.50,264.0,32.0,26.0

In [8]:
data2 = pd.read_csv('raw_fighter_details.csv')

In [9]:
data2

          fighter_name  Height    Weight Reach    Stance           DOB
0           AJ Fonseca   5' 4"  145 lbs.   NaN       NaN           NaN
1          AJ Matthews  5' 11"  185 lbs.   NaN       NaN           NaN
2             AJ McKee  5' 10"  145 lbs.   NaN       NaN           NaN
3            AJ Siscoe   5' 7"  135 lbs.   NaN       NaN           NaN
4           Aalon Cruz   6' 0"  145 lbs.   NaN       NaN           NaN
...                ...     ...       ...   ...       ...           ...
3308     Zelim Imadaev   6' 0"  170 lbs.   76"  Orthodox  Jan 25, 1995
3309      Zhang Lipeng  5' 11"  155 lbs.   71"  Southpaw  Mar 10, 1990
3310     Zoila Frausto   5' 4"  135 lbs.   NaN  Orthodox           NaN
3311        Zu Anyanwu   6' 1"  251 lbs.   77"  Orthodox  Aug 05, 1981
3312  Zubaira Tukhugov   5' 8"  145 lbs.   68"  Orthodox  Jan 15, 1991

[3313 rows x 6 columns]

In [10]:
data3 = pd.read_csv('raw_total_fight_data.csv', sep=';')
data3.head()

,R_fighter,B_fighter,R_KD,B_KD,R_SIG_STR.,B_SIG_STR.,R_SIG_STR_pct,B_SIG_STR_pct,R_TOTAL_STR.,B_TOTAL_STR.,...,B_GROUND,win_by,last_round,last_round_time,Format,Referee,date,location,Fight_type,Winner
0,Henry Cejudo,Marlon Moraes,0,0,90 of 171,57 of 119,52%,47%,99 of 182,59 of 121,...,1 of 1,KO/TKO,3,4:51,5 Rnd (5-5-5-5-5),Marc Goddard,"June 08, 2019","Chicago, Illinois, USA",UFC Bantamweight Title Bout,Henry Cejudo
1,Valentina Shevchenko,Jessica Eye,1,0,8 of 11,2 of 12,72%,16%,37 of 40,42 of 52,...,0 of 0,KO/TKO,2,0:26,5 Rnd (5-5-5-5-5),Robert Madrigal,"June 08, 2019","Chicago, Illinois, USA",UFC Women's Flyweight Title Bout,Valentina Shevchenko
2,Tony Ferguson,Donald Cerrone,0,0,104 of 200,68 of 185,52%,36%,104 of 200,68 of 185,...,0 of 0,TKO - Doctor's Stoppage,2,5:00,3 Rnd (5-5-5),Dan Miragliotta,"June 08, 2019","Chicago, Illinois, USA",Lightweight Bout,Tony Ferguson
3,Jimmie Rivera,Petr Yan,0,2,73 of 192,56 of 189,38%,29%,76 of 195,58 of 192,...,4 of 10,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Kevin MacDonald,"June 08, 2019","Chicago, Illinois, USA",Bantamweight Bout,Petr Yan
4,Tai Tuivasa,Blagoy Ivanov,0,1,64 of 144,73 of 123,44%,59%,66 of 146,81 of 131,...,6 of 6,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Dan Miragliotta,"June 08, 2019","Chicago, Illinois, USA",Heavyweight Bout,Blagoy Ivanov

### Data Cleaning

#### Getting the number of rows and columns in the data

In [11]:
df.shape

(5144, 145)

There are 5144 numbers of rows. And each row has 145 number of columns.

#### Selecting Relevant Columns

In [12]:
a = ['date', 'B_fighter', 'R_fighter', 'Winner', 'B_current_lose_streak',
       'B_current_win_streak', 'B_draw', 'B_longest_win_streak', 'B_losses',
       'B_total_rounds_fought', 'B_total_title_bouts',
       'B_win_by_Decision_Majority', 'B_win_by_Decision_Split',
       'B_win_by_Decision_Unanimous', 'B_win_by_KO/TKO', 'B_win_by_Submission',
       'B_win_by_TKO_Doctor_Stoppage', 'B_wins', 'B_Stance', 'B_Height_cms',
       'B_Reach_cms', 'B_Weight_lbs', 'R_current_lose_streak',
       'R_current_win_streak', 'R_draw', 'R_longest_win_streak', 'R_losses',
       'R_total_rounds_fought', 'R_total_title_bouts',
       'R_win_by_Decision_Majority', 'R_win_by_Decision_Split',
       'R_win_by_Decision_Unanimous', 'R_win_by_KO/TKO', 'R_win_by_Submission',
       'R_win_by_TKO_Doctor_Stoppage', 'R_wins', 'R_Stance', 'R_Height_cms',
       'R_Reach_cms', 'R_Weight_lbs', 'B_age', 'R_age']

In [13]:
df = df[a]

#### Shape of the new Dataframe

In [14]:
df.shape

(5144, 42)

#### Fixing the datetime in the dataframe

In [15]:
df['date'] = pd.to_datetime(df['date'])

## Data Preprocessing

#### Replacing empty string with nan

In [16]:
df = df.replace(r'^\s*$', np.nan, regex=True)
df = df.fillna(np.nan)

#### Renaming some of our columns

In [17]:
df.rename(columns={"B_win_by_KO/TKO": "B_win_by_KO_TKO", "R_win_by_KO/TKO": "R_win_by_KO_TKO"},inplace=True)

In [18]:
# Getting the list of target variables
df.Winner.unique()

array(['Red', 'Blue', 'Draw'], dtype=object)

#### Removing Draws 
As this is a binary classification

In [19]:
df = df[df.Winner != 'Draw']

### Viewing basic statistics about the data

In [20]:
df.describe()

,B_current_lose_streak,B_current_win_streak,B_draw,B_longest_win_streak,B_losses,B_total_rounds_fought,B_total_title_bouts,B_win_by_Decision_Majority,B_win_by_Decision_Split,B_win_by_Decision_Unanimous,...,R_win_by_Decision_Unanimous,R_win_by_KO_TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
count,5061.000000,5061.000000,5061.0,5061.000000,5061.000000,5061.000000,5061.000000,5061.000000,5061.000000,5061.000000,...,5061.000000,5061.000000,5061.000000,5061.000000,5061.000000,5057.000000,4752.000000,5058.000000,4891.000000,4998.000000
mean,0.429955,0.833235,0.0,1.585062,1.462754,8.903972,0.277811,0.016993,0.211421,0.778502,...,1.178423,1.254100,0.778502,0.071725,3.600869,179.293763,183.682837,172.075326,29.175833,29.427371
std,0.730263,1.284542,0.0,1.771906,1.865975,11.242031,1.107056,0.130777,0.525210,1.294768,...,1.602733,1.792344,1.327774,0.278677,3.708439,8.651769,10.309217,35.168220,4.078995,4.140642
min,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,152.400000,152.400000,115.000000,18.000000,19.000000
25%,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,172.720000,177.800000,145.000000,26.000000,26.000000
50%,0.000000,0.000000,0.0,1.000000,1.000000,5.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,2.000000,180.340000,185.420000,170.000000,29.000000,29.000000
75%,1.000000,1.000000,0.0,2.000000,2.000000,13.000000,0.000000,0.000000,0.000000,1.000000,...,2.000000,2.000000,1.000000,0.000000,5.000000,185.420000,190.500000,185.000000,32.000000,32.000000
max,6.000000,12.000000,0.0,16.000000,13.000000,75.000000,16.000000,2.000000,5.000000,10.000000,...,10.000000,11.000000,13.000000,2.000000,20.000000,210.820000,213.360000,345.000000,51.000000,47.000000

In [21]:
df['B_draw']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
5139    0.0
5140    0.0
5141    0.0
5142    0.0
5143    0.0
Name: B_draw, Length: 5061, dtype: float64

### Removing Constant columns
Constant columns have no variation and therefore does not contribute to our dataset

In [22]:
# Distinguishing between  categorical and numeric columns

categorical = list(df.select_dtypes(include=['object']))
numeric = df.columns.tolist()
constants = []
for c in categorical:
    numeric.remove(c)
for col in numeric:
    if min(df[col]) == max(df[col]):
        constants.append(col)
if len(constants)>0: 
    df.drop(columns = constants, axis=1, inplace=True)

#### Get count of na and null in each column

In [23]:
#### Get count of na and null in each column
df.isna().sum()

date                              0
B_fighter                         0
R_fighter                         0
Winner                            0
B_current_lose_streak             0
B_current_win_streak              0
B_longest_win_streak              0
B_losses                          0
B_total_rounds_fought             0
B_total_title_bouts               0
B_win_by_Decision_Majority        0
B_win_by_Decision_Split           0
B_win_by_Decision_Unanimous       0
B_win_by_KO_TKO                   0
B_win_by_Submission               0
B_win_by_TKO_Doctor_Stoppage      0
B_wins                            0
B_Stance                        154
B_Height_cms                      8
B_Reach_cms                     655
B_Weight_lbs                      6
R_current_lose_streak             0
R_current_win_streak              0
R_longest_win_streak              0
R_losses                          0
R_total_rounds_fought             0
R_total_title_bouts               0
R_win_by_Decision_Majority        0
R_win_by_Decision_Split           0
R_win_by_Decision_Unanimous       0
R_win_by_KO_TKO                   0
R_win_by_Submission               0
R_win_by_TKO_Doctor_Stoppage      0
R_wins                            0
R_Stance                        132
R_Height_cms                      4
R_Reach_cms                     309
R_Weight_lbs                      3
B_age                           170
R_age                            63
dtype: int64

### Cleaning the dataframe

In [24]:
# Dropping NA values in stance
df.dropna(subset = ['R_Stance', 'B_Stance'], inplace = True, axis = 0)

#### Replacing the nan of height with its median

In [25]:
df["B_Height_cms"] = df["B_Height_cms"].fillna(value=df["B_Height_cms"].median())
df["R_Height_cms"] = df["R_Height_cms"].fillna(value=df["R_Height_cms"].median())
df["B_Reach_cms"] = df["B_Reach_cms"].fillna(value=df["B_Reach_cms"].median())
df["R_Reach_cms"] = df["R_Reach_cms"].fillna(value=df["R_Reach_cms"].median())

#### Dropping the missing values

In [26]:
df.dropna(axis=0, inplace=True)
df.reset_index(inplace=True, drop=True)

In [27]:
df.columns.values.tolist()

['date',
 'B_fighter',
 'R_fighter',
 'Winner',
 'B_current_lose_streak',
 'B_current_win_streak',
 'B_longest_win_streak',
 'B_losses',
 'B_total_rounds_fought',
 'B_total_title_bouts',
 'B_win_by_Decision_Majority',
 'B_win_by_Decision_Split',
 'B_win_by_Decision_Unanimous',
 'B_win_by_KO_TKO',
 'B_win_by_Submission',
 'B_win_by_TKO_Doctor_Stoppage',
 'B_wins',
 'B_Stance',
 'B_Height_cms',
 'B_Reach_cms',
 'B_Weight_lbs',
 'R_current_lose_streak',
 'R_current_win_streak',
 'R_longest_win_streak',
 'R_losses',
 'R_total_rounds_fought',
 'R_total_title_bouts',
 'R_win_by_Decision_Majority',
 'R_win_by_Decision_Split',
 'R_win_by_Decision_Unanimous',
 'R_win_by_KO_TKO',
 'R_win_by_Submission',
 'R_win_by_TKO_Doctor_Stoppage',
 'R_wins',
 'R_Stance',
 'R_Height_cms',
 'R_Reach_cms',
 'R_Weight_lbs',
 'B_age',
 'R_age']

In [28]:
df.shape

(4635, 40)

### One hot encoding

 Encoding R and B Stance

In [29]:
# Selecting columns to be encoded
toBeEncoded = ['B_Stance','R_Stance']
df_encoded = df[toBeEncoded]

# Encoding the data
df_encoded = pd.get_dummies(df_encoded)

# Renaming the encoding columns
df_encoded.rename(columns={
    "B_Stance_Open Stance": "B_Stance_Open_Stance",
    "R_Stance_Open Stance": "R_Stance_Open_Stance"},inplace=True)

# Droping the initial uncoded fields
df.drop(toBeEncoded, axis=1, inplace=True) 

# Concatenating the encoded dataframe at the end
df = pd.concat([df,df_encoded],1)
#df.head(3)

#### Encoding Blue = 1 and Read = 0

In [30]:
df['Winner'] = df['Winner'].replace(['Blue', 'Red'], [1, 0]).values

In [31]:
# Shuffling the data
df_processed = df.sample(frac=1, random_state=110).reset_index(drop=True)

# Exploratory Data Analysis (EDA)